
.form_area{
    width:500px;
    border:1px solid #CCC;
    padding: 5px;
    margin: 10px;
}

.form_area > form > div{
    margin: 10px;
}

.form_area label{
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    text-align: right;
 }

.form_area input{
    width: 300px;
}

.form_area textarea{
    width: 300px;
    height: 100px;
}

.form_area .button{
    text-align: center;
}

.list{
    width: 500px;
    border-collapse: collapse;
}

.list td, .list th {
    padding: 3px;
    border: 1px solid #CCC;
}

.write_btn{
    width: 500px;
    text-align: right;
    margin: 5px;
}

.write_btn button{
    margin-right: 10px;
}

.read_area{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
}

.read_area > div{
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid #EEE;
}

.read_area label{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align:right;
}

.read_area .content{
    display: inline-block;
    width: 380;
}

.btns{
    text-align: center;
}

.comment_area{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
}

.comment_area > div{
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid #EEE;
}

.comment_area label{
    width: 100px;
    margin-right: 10px;
}

.comment_area textarea{
    width: 350px;
    height: 50px;
}

.comment_area > div button{
    text-align: right;
}