<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="/css/board.css" rel="stylesheet">
</head>
<body>
    <h1>게시판</h1>
    <div class="read_area">
        <div>
            <label>제목</label>
            <span>안녕하세요.</span>
        </div>

        <div>
            <label>내용</label>
            <div class="content">내용이 보여집니다.<br>adf</div>
        </div>

        <div>
            <label>글슨이</label>
            <span>홍길동</span>
        </div>

        <div class="btns">
            <button>목록</button>
            <button>수정</button>
            <button>삭제</button>
        </div>
    </div>
</body>
</html>