<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="/css/board.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>글쓰기</h1>

    <div class="form_area">
        <form method="get" action="/board/write.do">
            <div>
                <lable>제목</lable>
                <input type="text" name="title">
            </div>

            <div>
                <lable>내용</lable>
                <textarea name="content"></textarea>
            </div>

            <div>
                <lable>글쓴이</lable>
                <input type="text" name="writer">
            </div>

            <div class="button">
                <button>저장</button>
            </div>
        </form>
    </div>
</body>
</html>